<div class="container d-flex justify-content-center">
    <div class="col-lg-6">
  <h2 class="page-header">QnA</h2>
  <div *ngIf="user || authService.adminloggedIn()">
    <form>
      <div class="form-group">
        <label>제목</label>
        <input type="text" class="form-control" [(ngModel)]='title' name="title" placeholder=" 제목을 입력해주세요">
      </div>
      <div class="form-group">
        <label>내용</label>
        <input type="textarea" class="form-control" [(ngModel)]='content' name="content" placeholder=" 질문 내용을 입력해주세요" style="height: 300px">
      </div>
      <div style="text-align: center">
        <input type="button" class="btn btn-success" value="글 쓰기" (click)="onQnASubmit(user,content,title)" style="margin-right: 40px">
        <input type="button" class="btn btn-secondary" value="돌아가기"  [routerLink]='["/qna"]'>
      </div>
    </form>
  </div>
  </div>
</div>