<div class="navbar-nav navbar-left" id="bimage">
        <div id="content">
             <h2>사용 방법</h2>
        </div> 
    </div>
    <div>
    <div  class="text-center" style="background-color:ghostwhite; height: 300px; margin-bottom: 2%; padding-bottom: 0; display: table">
     <div style="display:table-cell; vertical-align: middle; width: 1920px"><h3>   </h3>
     <h6 style="text-align:center; color:#60da0f;">Safety</h6>
     <h2>안전한 키위를 위한 사용 방법</h2>
     <p class="maxwidth700">보호 장비와 안전한 사용 방법을 익혀 키위를 이용하세요!</p>
     <p class="maxwidth700">사고를 예방할 수 있습니다.</p>
    </div>
    </div>

<div class="container">
  <div>
      <h2 id="ctitle">안전한 키위 바이크 사용 방법</h2>
      <div class="row">
          <div class="col-md-6">
              <img src="https://www.li.me/hubfs/Assets/how-to-2018-1.jpg?t=1542902725056" width="100%" alt="">
          </div>
          <div class="col-md-6">
              <img src="https://www.li.me/hubfs/Assets/how-to-2018-2.jpg?t=1542902725056" width="100%" alt="">
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-6">
              <img src="https://www.li.me/hubfs/Assets/how-to-2018-3.jpg?t=1542902725056" width="100%" alt="">
          </div>
          <div class="col-md-6">
              <img src="https://www.li.me/hubfs/Assets/how-to-2018-4.jpg?t=1542902725056" width="100%" alt="">
          </div>
      </div>
      
      <div class="row">
          <div class="col-md-6">
              <img src="https://www.li.me/hubfs/Assets/how-to-2018-5.jpg?t=1542902725056" width="100%" alt="">
          </div>
          <div class="col-md-6">
              <img src="https://www.li.me/hubfs/Assets/how-to-2018-6.jpg?t=1542902725056" width="100%" alt="">
          </div>
      </div>
      
  </div>
<div id="hs_cos_wrapper_widget_1513336126627" data-hs-cos-general-type="widget" data-hs-cos-type="raw_html"><div >
  <div >
      <h2 id="ctitle">손을 이용한 신호</h2>
      <div class="row">
          <div class="col-md-4">
              <img src="https://www.li.me/hubfs/Assets/hand-signals-2018-1.jpg?t=1542902725056" width="100%" alt="">
          </div>
          <div class="col-md-4">
              <img src="https://www.li.me/hubfs/Assets/hand-signals-2018-2.jpg?t=1542902725056" width="100%" alt="">
          </div>
          <div class="col-md-4">
              <img src="https://www.li.me/hubfs/Assets/hand-signals-2018-3.jpg?t=1542902725056" width="100%" alt="">
          </div>
      </div>
  </div>
</div>
</div>
</div>