#bimage {
    display: table;
    width: 100%;
    height: 390px;
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181209_222018403.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  #content {
    display: table-cell;
    top:50%;
    left:50%;  
    text-align: center; 
    vertical-align: middle;                                                           
    font-size:5rem;
    color: white;
    z-index: 2;
  }

  #ctitle {
      text-align: center;
      color: green;
  }