<body>
    <div class="navbar-nav" id="bimage">
        <div id="content">
            <h2>사용 방법</h2>
        </div>
    </div>
    <div>
        <div class="text-center" style="background-color:ghostwhite; height: 300px; margin-bottom: 2%; padding-bottom: 0; display: table">
            <div style="display:table-cell; vertical-align: middle; width: 1920px">
                <h3> </h3>
                <h6 style="text-align:center; color:#60da0f;">Safety</h6>
                <h2>안전한  <span style="color:#60da0f">키위</span>를 위한 사용 방법</h2>
                <p class="maxwidth700" style="margin-bottom: 0">보호 장비와 안전한 사용 방법을 익혀 <span style="color:#60da0f">키위</span>를 이용하세요!</p>
                <p class="maxwidth700"><b>사고를 예방</b>할 수 있습니다.</p>
            </div>
        </div>

        <div class="container">
            <div>
                <h2 id="ctitle">바이크 사용 방법</h2>
                <div class="row">
                    <div class="col-md-6" style="text-align: center">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/how-to-2018-1.jpg" width="100%" alt="">
                        <h5 style="margin:20px">핼멧을 꼭 착용해주세요</h5>
                    </div>
                    <div class="col-md-6" style="text-align: center">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/how-to-2018-2.jpg" width="100%" alt="">
                        <h5 style="margin:20px"> 지정된 장소에 보관해주세요</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="text-align: center">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/how-to-2018-3.jpg" width="100%" alt="">
                        <h5 style="margin:20px">주행 전 킥보드 상태를 확인해주세요</h5>
                    </div>
                    <div class="col-md-6" style="text-align: center">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/how-to-2018-4.jpg" width="100%" alt="">
                        <h5 style="margin:20px">양쪽 손잡이를 당기면 제동입니다</h5>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="text-align: center">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/how-to-2018-5.jpg" width="100%" alt="">
                        <h5 style="margin:20px">도로에 장애물을 주의하세요</h5>
                    </div>
                    <div class="col-md-6" style="text-align: center">
                        <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/how-to-2018-6.jpg" width="100%" alt="">
                        <h5 style="margin:20px">교통 법규를 준수하세요</h5>
                    </div>
                </div>

            </div>
            <div style="margin-top:40px">
                <div>
                    <div>
                        <h2 id="ctitle">손을 이용한 신호</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="https://www.li.me/hubfs/Assets/hand-signals-2018-1.jpg?t=1542902725056" width="100%"
                                    alt="">
                            </div>
                            <div class="col-md-4">
                                <img src="https://www.li.me/hubfs/Assets/hand-signals-2018-2.jpg?t=1542902725056" width="100%"
                                    alt="">
                            </div>
                            <div class="col-md-4">
                                <img src="https://www.li.me/hubfs/Assets/hand-signals-2018-3.jpg?t=1542902725056" width="100%"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>