<div class="container">
<div class="row">
  <div class="col-sm-8" id="bimage">
          <div id="content">
               <h2></h2>
          </div> 
  </div>
  <div class="col-sm-4">
<h2 class="page-header">로그인</h2>
<form (submit)="onLoginSubmit()">
  <div class="form-group">
    <label>E-mail</label>
    <input type="text" class="form-control" [(ngModel)]='email' name="email">
  </div>
  <div class="form-group">
    <label>password</label>
    <input type="password" class="form-control" [(ngModel)]='password' name="password">
  </div>
  <div style="text-align:center">
  <input type="submit" class="btn btn-primary" value="Login">
  <a type="submit" class="btn btn-secondary" [routerLink]="['/adminlogin']">Admin</a>
  </div>
</form>
</div>
</div>
</div>