<div id="bimage">
    <div id="content">
        <h2>사용자 정보</h2>
    </div>
</div>
<div class="container">
    <div *ngIf="user">
        <div id="title">
            <h3 style="display:table-cell; vertical-align: middle;"> {{user.name}}님의 회원정보 </h3>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <th class="tr-group">E - mail</th>
                    <th class="tr-group">{{user.email}}</th>
                </tr>
                <tr>
                    <th class="tr-group">운전면허 번호</th>
                    <th class="tr-group">{{user.license_num}}</th>
                </tr>
                <tr>
                    <th class="tr-group">운전면허 발행일</th>
                    <th class="tr-group">{{user.license_issued}}</th>
                </tr>
                <tr>
                    <th class="tr-group">운전면허 만료일</th>
                    <th class="tr-group">{{user.license_expiration}}</th>
                </tr>
                <tr>
                    <th class="tr-group">예약 내용</th>
                    <span *ngFor="let B of bike">
                        <th class="tr-group" *ngIf="user.email == B.email">{{B.name}}</th>
                        <th *ngIf="user.email == B.email"><input type="button" class="btn btn-success" id="res" value="예약 취소" (click)="cancel(B.name)"></th>
                    </span>
                </tr>
            </tbody>
        </table>
    </div>
</div>