<div id="bimage">
  <div id="d_sub">
    <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181210_203421632.png" style="margin-top:100px">
    <h1 id="title">언제 어디서나 즐기는</h1>
    <h1 id="title">스마트 모빌리티 <span style="color: #60da0f;">키위</span></h1>

    <h6 id="sub">내 위치 주변에 있는 스마트 킥보드 "<span style="color: #60da0f;">키위</span>"를 찾아 언제 어디서나 쉽게 즐기세요</h6>
    <div class="d-flex justify-content-center">
      <div class="row" style="height:107px; width:800px;">
    <a href="https://play.google.com/store/apps/details?id=com.hansung.android.kiwi" style="margin-right:80px"><img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181215_231535392.png" width="70%" height="70%"></a>
    <a ><img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181215_231841284.png" width="70%" height="70%" (click)="alram()"></a>
    </div></div>
  </div>
</div>
<div class="container">
<div class="d-flex justify-content-center" style="margin-top: 30px">
<div class="col">
  <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181217_202927479.jpg" width="220px" height="auto" style="margin-left:200px">
</div>
<div class="col" style="text-align:center; height: 100%; display: table; margin-right: 200px">
  <div style="display: table-cell; vertical-align: middle">
    <h2 style="margin-top:70px; margin-bottom:100px; letter-spacing:6px"><b>서비스소개</b></h2>

    <h5 style="margin-bottom:30px">내 주변의 <span style="color:#60da0f">키위</span>를 찾아보세요.<br />
                빠르고 편한 이동을 경험하실 수 있습니다.</h5>
            
                <h4><b>지금 1,000원으로 출발하세요!</b></h4>

  </div>
</div>
</div>
</div>
<div >
  <div class="row" style="text-align:center">
    <div class="col">
  <iframe width="1024" height="576" src="https://www.youtube.com/embed/StWjnN6Ozb0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="margin-top: 30px"></iframe>
    </div>
</div>
</div>
