
 agm-map {
  width: 100%;
  height: 600px;
}

#bimage {
 display: table;
 width: 100%;
 height: 531px;
 background-image: url("https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181209_222018403.jpg");
}

#content {
 display: table-cell;
 top:50%;
 left:50%;  
 text-align: center; 
 vertical-align: middle;                                                           
 font-size:5rem;
 color: white;
 z-index: 2;
 
}

#d_right{
  background-color: ghostwhite;
  text-align: center; 
  height:100%;
}

#title {
 margin: 0;
 padding: 0;
 background-color: #60da0f;
 color: white;
 text-align: center;
 height: 8%;
 width: 100%;
 display: table;
}

#w_button {
  background-color: #60da0f;
  width: 150px;
  color: #FFFFFF;
  padding: 0;
}