#bimage {
    display: table;
    width: 100%;
    height: 940px;
    margin-bottom: 2%;
    background-image: url("https://www.li.me/hubfs/lime-one-year-report-bike-scooter-sharing-2.jpg");
    background-size: contain;
  }
  
  #content {
    display: table-cell;
    top:50%;
    left:50%;  
    text-align: center; 
    vertical-align: middle;                                                           
    font-size:5rem;
    color: white;
    z-index: 2;
  }

  #email {
    width: 100%;
    height: 60px;
    color: black;
    font-size: 14px;
  }

  #login {
    background-color: #60da0f;
    width: 45.5%;
    height: 60px;
    margin: 11.5px;
    color: #FFFFFF;
    padding: 0;
  }

  #alogin {
    background-color: #e1e1e1;
    width: 45.5%;
    height: 60px;
    margin: 11.5px;
    color: #888787;
  }

  #home {
    font-size: 42px;
    line-height: 101px;
    color: #60da0f;
    font-family: "Helvetica Neue";
    font-weight: bold;
    text-align: center;
    text-decoration: none;
     }