#bimage {
    display: table;
    width: 100%;
    height: 531px;
    margin-bottom: 2%;
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181209_222018403.jpg");
  }
  
  #content {
    display: table-cell;
    top:50%;
    left:50%;  
    text-align: center; 
    vertical-align: middle;                                                           
    font-size:5rem;
    color: white;
    z-index: 2;
  }

  #title {
  margin: 0;
  padding: 0;
  background-color: #60da0f;
  color: white;
  text-align: center;
  height: 50px;
  width: 100%;
  display: table;
 }