<body>
    <div class="navbar-nav" id="bimage">
        <div id="content">
            <h2>키위 바이크 소개</h2>
        </div>
    </div>
    <div>
        <div class="text-center" style="background-color:ghostwhite; height: 300px; margin-bottom: 0; padding-bottom: 0; display: table; letter-spacing: -1.5px;">
            <div style="display:table-cell; vertical-align: middle; width: 10000px">
                <h3> </h3>
                <h6 style="text-align:center; color:#60da0f; ">SMART MOBILITY</h6>
                <h4 style="margin-bottom: 20px; margin-top: 0; padding-top: 0">현대 사회를 위한 스마트 모빌리티</h4>
                <p class="maxwidth700" style="margin:2px;">키위는 "모든 사람들이 각 지역에서 <b>스마트하고 효율적인 모빌리티</b>에 접근할 수 있는 가치가 있지
                    않을까?" 라는</p>
                <p class="maxwidth700" style="margin:2px;">심플한 생각에서 시작되었습니다. 모두에게 <b>공평한 서비스 공유</b>를 통해 우리는 짧은 거리를
                    대중교통에 의존하지</p>
                <p class="maxwidth700" style="margin:2px;">않으며 미래의 세대를 위한 <b>더 깨끗하고 건강한 지구를 물려주는 것</b>을 목표로 하였습니다.</p>
            </div>
        </div>
        <div class="bgpad" class="text-center" style="margin-top:0; padding-top:0">
            <div style="margin-bottom: 50px">
                <img src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_201812099_192851506.png"
                    class="rounded mx-auto">
                <h2>개발자 소개</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col col-lg-2">
                    <img width="220" height="220" src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181209_192847769.png">
                    <h4>윤태영</h4>
                    <p>Server</p>

                </div>
                <div class="col col-lg-2" style="margin-left:50px; margin-right:50px">
                    <img width="220" height="220" src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181209_192839806.png">
                    <h4>장형필</h4>
                    <p>App</p>

                </div>
                <div class="col col-lg-2">
                    <img width="220" height="220" src="https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-767926874660/KakaoTalk_20181209_192843170.png">
                    <h4>김종호</h4>
                    <p>Web</p>

                </div>
            </div>
        </div>
    </div>

</body>